html {
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.footer {
  min-height: 60px;
  background-color: #eeeeee;
  padding-top: 15px;
}

.padding-sm {
  padding: 1rem 2rem;
}
