<div class="bubble-wrap-tb-sm">
  <button ui-sref="app.createEmployee" class="btn btn-default btn-lg"> New Employee </button>
</div>

<form class="form-inline bubble-wrap-tb-sm">
  <div class="form-group">
    <input type="text" class="form-control input-lg" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-default btn-lg">Submit</button>
  <a class="pull-right lead" data-ng-click="$ctrl.sortList()">
    Sort
    <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true" data-ng-if="$ctrl.ascending"></span>
    <span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true" data-ng-if="!$ctrl.ascending"></span>
  </a>
</form>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3> Employees </h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="lead"> Last </th>
          <th class="lead"> First </th>
          <th class="lead"> Email </th>
          <th class ="lead"> Admin </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="employee in $ctrl.employeeList | orderBy: 'name' : $ctrl.ascending track by $index">
          <td class="lead"> {{ employee.lastname }} </td>
          <td class="lead"> {{ employee.firstname }} </td>
          <td class="lead"> {{ employee.email }} </td>
          <td data-ng-if="employee.isAdmin" class="lead"> Yes </td>
          <td data-ng-if="!employee.isAdmin" class="lead">    </td>

          <td data-ng-if="!employee.isAdmin"><button  type="submit" class="btn btn-danger"> Fire! </button></td>
          <td data-ng-if="employee.isAdmin"><p>   </p></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
