<div class="panel panel-default">
  <div class="panel-heading">
    <h3> Edit Customer: {{ $ctrl.customer.lastname }}, {{ $ctrl.customer.firstname }} </h3>
  </div>
  <div class="panel-body">
      <form data-ng-submit = "$ctrl.submit()">
        <div class="row">
          <div class="form-group padding-sm col-xs-6">
            <label for="user"> First Name </label>
            <input type="text" class="form-control input-lg" id="first" data-ng-model="$ctrl.firstName" placeholder="John">
          </div>
          <div class="form-group padding-sm col-xs-6">
            <label for="user"> Last Name </label>
            <input type="text" class="form-control input-lg" id="last" data-ng-model="$ctrl.lastName" placeholder="Smith">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-12">
            <label for="street1"> Street1 </label>
            <input type="text" class="form-control input-lg" id="street1" data-ng-model="$ctrl.street1" placeholder="Street 1">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12">
            <label for="street2"> Street2 </label>
            <input type="text" class="form-control input-lg" id="street2" data-ng-model="$ctrl.street2" placeholder="Street 2">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-4">
            <label for="city"> City </label>
            <input type="text" class="form-control input-lg" id="city" data-ng-model="$ctrl.city" placeholder="Gainesville">
          </div>
          <div class="form-group col-xs-4">
            <label for="state"> State </label>
            <input type="text" class="form-control input-lg" id="state" data-ng-model="$ctrl.state" placeholder="FL">
          </div>
          <div class="form-group col-xs-4">
            <label for="zip"> Zip </label>
            <input type="text" class="form-control input-lg" id="zip" data-ng-model="$ctrl.zip" placeholder="32607">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6" >
            <label for="email"> Email </label>
            <div class="input-group">
              <input type="email" class="form-control input-lg" data-ng-model="$ctrl.emailLine" placeholder="jdoe@example.com">
              <span class="input-group-addon btn btn-default btn-lg" data-ng-click="$ctrl.update('email', 'add', $index)">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </span>
            </div>
          </div>

          <div class="col-xs-6" >
            <label for="phone"> Phone </label>
            <div class="input-group">
              <input type="phone" class="form-control input-lg" data-ng-model="$ctrl.phoneLine" placeholder="123.123.1234">
              <span class="input-group-addon btn btn-default btn-lg" data-ng-click="$ctrl.update('phone', 'add', $index)">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6" >
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th class="lead"> Email(s) </th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="x in $ctrl.customer.emails track by $index">
                  <td>
                    <p class="lead"> {{ x }} </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-xs-6" >
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th class="lead"> Phone(s) </th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="x in $ctrl.customer.phonenumbers track by $index">
                  <td>
                    <p class="lead"> {{ x }} </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="padding-sm">
          <button type="submit" class="btn btn-default btn-lg"> Submit </button>
        </div>
      </form>
    </div>

  </div>
</div>
